<h2>
<font color="#ffcc01">
<b>
PROGRAMACIÓN 1
</b>
</font>
</h2>


<h3>
<font color="#ffcc01">
<b>
Trabajo práctico 5: Listas
</b>
</font>
</h3>

#### **Ejercicio 1**

Crear una lista con los números del 1 al 100 que sean múltiplos de 4. Utilizar la función range.

In [ ]:
# Comenzamos el rango en el número 4 ya que sabemos que es el primer múltiplo de 4
# Terminamos el rango en 101 para incluir al 100
multiplos_de_4 = list(range(4, 101, 4))

print(multiplos_de_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

#### **Ejercicio 2**

Crear una lista con cinco elementos (colocar los elementos que más te gusten) y mostrar el penúltimo. ¡Puedes hacerlo como se muestra en los videos o bien investigar cómo funciona el indexing con números negativos!

In [ ]:
# Creamos una lista con 5 elementos cualesquiera
colores = ["rojo", "verde", "azul", "amarillo", "violeta"]

# Imprimimos el penúltimo elemento, que será el que se encuentre en el índice número 3
print(colores[3])

amarillo

In [ ]:
# Otra manera es utilizar indexing con números negativos
colores = ["rojo", "verde", "azul", "amarillo", "violeta"]

# -1 imprimiría el último elemento, entonces -2 imprimirá el penúltimo
print(colores[-2])

#### **Ejercicio 3**

Crear una lista vacía, agregar tres palabras con append e imprimir la lista resultante por pantalla. Pista: para crear una lista vacía debes colocar los corchetes sin nada en su interior. Por ejemplo:
`lista_vacia = []`

In [ ]:
# Creamos una lista vacía
lista_vacia = []

# Agregamos la primera palabra
lista_vacia.append("sol")
# Agregamos la segunda palabra
lista_vacia.append("luna")
# Agregamos la tercera palabra
lista_vacia.append("Tierra")

print(lista_vacia)

['sol', 'luna', 'Tierra']

#### **Ejercicio 4**

Reemplazar el segundo y último valor de la lista “animales” con las palabras “loro” y “oso”, respectivamente.  Imprimir la lista resultante por pantalla. ¡Puedes hacerlo como se muestra en los videos o bien investigar cómo funciona el indexing con números negativos!

`animales = ["perro", "gato", "conejo", "pez"]`

In [ ]:
# Creamos la lista "animales"
animales = ["perro", "gato", "conejo", "pez"]

# Reemplazamos el segundo valor (índice = 1) por "loro"
animales[1] = "loro"

# Reemplazamos el último valor (índice = 3) por "loro"
animales[3] = "oso"

# Imprimimos la lista resultante
print(animales)

['perro', 'loro', 'conejo', 'oso']

In [ ]:
# Otra manera es utilizar indexing con números negativos
animales = ["perro", "gato", "conejo", "pez"]

animales[1] = "loro"
# Reemplazamos el último valor (índice = -1) por "loro"
animales[-1] = "oso"

print(animales)

['perro', 'loro', 'conejo', 'oso']

#### **Ejercicio 5**

Analizar el siguiente programa y explicar con tus palabras qué es lo que realiza.

```
numeros = [8, 15, 3, 22, 7]
numeros.remove(max(numeros))
print(numeros)
```

El programa anterior sigue los siguientes pasos:

1.   Crea una lista llamada nmeros (línea `numeros = [8, 15, 3, 22, 7]`)
2.   Calcula el valor máximo de la lista numeros y lo remueve de la lista (línea `numeros.remove(max(numeros))`). En este caso en particular el valor máximo es 22, por lo que remueve dicho valor de la lista numeros.
3.   Imprime por pantalla la lista resultante (línea `print(numeros)`). En este caso, la lista resultante será [8, 15, 3, 7].

#### **Ejercicio 6**

Crear una lista con números del 10 al 30 (incluído), haciendo saltos de 5 en 5 y mostrar por pantalla los dos primeros.

In [ ]:
# Creamos un rango del 10 al 30, haciendo saltos de 5 en 5
numeros = list(range(10, 31, 5))

# Imprimimos por pantalla los dos primeros números
print(numeros[0:2])

[10, 15]

#### **Ejercicio 7**

eemplazar los dos valores centrales (índices 1 y 2) de la lista “autos” por dos nuevos valores cualesquiera.

`autos = ["sedan", "polo", "suran", "gol"]`

In [ ]:
# Creamos la lista "autos"
autos = ["sedan", "polo", "suran", "gol"]

# Reemplazamos el índice 1
autos[1] = "etios"

# Reemplazamos el índice 2
autos[2] = "hilux"

# Imprimimos la lista resultante
print(autos)

['sedan', 'etios', 'hilux', 'gol']

In [ ]:
# Otra forma: como los índices son consecutivos, podemos reemplazar ambos a la vez
autos = ["sedan", "polo", "suran", "gol"]

# Reemplazamos los índices 1 y 2 a la vez
autos[1:3] = ["etios", "hilux"]

print(autos)

['sedan', 'etios', 'hilux', 'gol']

#### **Ejercicio 8**

Crear una lista vacía llamada "dobles" y agregar el doble de 5, 10 y 15 usando append directamente. Imprimir la lista resultante por pantalla.

In [ ]:
# Creamos la lista vacía
dobles = []

# Agregamos el doble de 5
dobles.append(5 * 2)

# Agregamos el doble de 10
dobles.append(10 * 2)

# Agregamos el doble de 15
dobles.append(15 * 2)

# Imprimimos la lista resultante por pantalla
print(dobles)

[10, 20, 30]

#### **Ejercicio 9**

Dada la lista “compras”, cuyos elementos representan los productos comprados por diferentes clientes:

`compras = [["pan", "leche"], ["arroz", "fideos", "salsa"], ["agua"]]`

a) Agregar "jugo" a la lista del tercer cliente usando append.

b) Reemplazar "fideos" por "tallarines" en la lista del segundo cliente.

c) Eliminar "pan" de la lista del primer cliente.

d) Imprimir la lista resultante por pantalla

In [ ]:
# Creamos la lista "compras"
compras = [["pan", "leche"], ["arroz", "fideos", "salsa"], ["agua"]]

# Agregamos "jugo" a la lista del tercer cliente (compras[2])
compras[2].append("jugo")

# Reemplazamos "fideos" por "tallarines" en la lista del segundo cliente (compras[1])
compras[1][1] = "tallarines"

# Eliminamos "pan" de la lista del primer cliente (compras[0])
compras[0].remove("pan")

# Imprimimos la lista resultante
print(compras)

[['leche'], ['arroz', 'tallarines', 'salsa'], ['agua', 'jugo']]

#### **Ejercicio 10**

Elaborar una lista anidada llamada “lista_anidada” que contenga los siguientes elementos:
*   Posición lista_anidada[0]: 15
*   Posición lista_anidada[1]: True
*   Posición lista_anidada[2][0]: 25.5
*   Posición lista_anidada[2][1]: 57.9
*   Posición lista_anidada[2][2]: 30.6
*   Posición lista_anidada[3]: False

Imprimir la lista resultante por pantalla.

In [ ]:
# Siguiendo las instrucciones del enunciado tenemos
lista_anidada = [15, True, [25.5,57.9,30.6], False]

# Imprimimos la lista resultante por pantalla
print(lista_anidada)

[15, True, [25.5, 57.9, 30.6], False]